body {
    font: .9em/1.5 geneva, verdana, arial, sans-serif;
    background: url("../img/hollister_4 copy.jpg") no-repeat 70% 50%;
    max-width: 1820px;

}

#wrapper{
    width: 100%;
    
}

header {
    width: 100%;
    margin: .0549451% auto; /* 10px */
    padding: .0274725%;   /* 5px */
    background: rgba(255, 255, 255, 0.64);
    overflow: hidden;
}

 header h1{
     width: 100%;
     padding: 3% 15% 3% 2%;   /* 8px */
     margin: 1.7% .8% .8% 26%;  /* 25px 45px */
     background: url("../img/RanchoSanJulian.png") no-repeat;
     float: left;
     text-indent: -9999px;

}

ul{
    width: 100%;  /* 1100px */  /* 45px */
    padding: 0;
    margin: 0%;
    float: left;
}

li{
    width: 20.73%; /* 10px */
    padding: 0 .06%;
    display: inline;
}

a{
    width: 27%;
    padding: .8% 14.05%;
    color: #000;
    background: rgba(255, 148, 61, .65);
    text-decoration:none;
    font-weight: bold;
    font-size: 1.5em;
}

a:hover{
    background: rgba(255, 148, 61, .80);
}

section {
    width: 23.351684%;   /* 425px */
    padding: 1.1549451% 1.873626%; /* 10px 25px */
    margin: 8.241758% 0 7.692308% 8.241758%;    /* 150px, 0, 140px, 150px */
    background:rgba(255, 255, 255, 0.80) ;
    color: #000;

}
h2{
    font-weight: bold;
}

footer{
    width: 100%;  /* 10px */
    text-align: center;
    color: #efefef;
    font-weight: bold;
    font-style: italic;

}



/*--------------------------- Media Queries --------------------------------*/

@media screen and (min-width: 687px) and (max-width: 1050px){
    
    h1{
        float: none;
    }
    header {
        background: none;
    }

    ul{
        border: none;
        width: 100%;
        background: rgba(255, 255, 255, 0.64);
        padding: 3.5%;
    }

    li {
        float: none;
        padding: 1.5%;
        margin: .1% 0 .1% 5%;
        background: rgba(224, 224, 224, .50);
    }

    li:hover{
    background: rgba(255, 255, 255, .50);
    }

    li a:hover{
        border-top: none;

    }
    section{
        width:67.25%;
    }

}

@media screen and (min-width: 540px) and (max-width: 688px ) {

    h1{
        float: none;
        text-align: center;
    }

    header {
        background: none;
    }

    ul{
        width: 100%;
        background: rgba(224, 224, 224, .50);
        border: none;
    }

    li {
        width: 75%;
        margin: 0 5%;
        text-align: center;
        float: none;
        display: block;
        background: rgba(224, 224, 224, .50);
        border-radius: 100%;
    }

    li:nth-child(odd){
        background: rgba(201, 201, 201, .50);

    }

    li:hover{
        background: rgba(255, 255, 255, .50);
    }

    li a:hover{
        border-top: none;

    }
    section{
        margin-left: 4%;
        padding: 6.3%;
        width:77.25%;
    }
    
}

@media screen and (min-width: 335px) and (max-width: 539px){

    h1{
        float: none;
       text-align: center;
    }

    header {
        background: none;
    }

    ul{
        width: 100%;
        background: rgba(224, 224, 224, .50);
        border: none;
    }

    li {
        width: 50%;
        margin: 0 10%;
        text-align: center;
        float: none;
        display: block;
        background: rgba(224, 224, 224, .50);
    }

    li:nth-child(odd){
        background: rgba(201, 201, 201, .50);

    }

    li:hover{
        background: rgba(255, 255, 255, .50);
    }

    li a:hover{
        border-top: none;

    }
    section{
        margin-left: 4%;
        padding: 6.3%;
        width:77.25%;
    }

}

@media screen and (min-width: 100px) and (max-width: 334px) {

    h1 {
        float: none;
        text-align: center;
    }

    header {
        background: none;
    }

    ul {
        width: 100%;
        background: rgba(224, 224, 224, .50);
        border: none;
    }

    li {
        width: 50%;
        margin: 0 10%;
        text-align: center;
        float: none;
        display: block;
        background: rgba(224, 224, 224, .50);
    }

    li:nth-child(odd) {
        background: rgba(201, 201, 201, .50);

    }

    li:hover {
        background: rgba(255, 255, 255, .50);
    }

    li a:hover {
        border-top: none;

    }

    section {
        margin-left: 4%;
        padding: 6.3%;
        width: 77.25%;
    }

}

