body {
    font: .9em/1.5 geneva, verdana, arial, sans-serif;
    background: url("../img/hollister_4 copy.jpg") no-repeat 70% 50%;
    max-width: 1820px;

}

#wrapper{
    width: 100%;
    
}

header {
    width: 100%;
    margin: .0549451% auto; /* 10px */
    padding: .0274725%;   /* 5px */
    background-color: rgba(255, 255, 255, 0.64);
    overflow: hidden;

}

h1{
    padding: .043956%;   /* 8px */
    margin: 1.373626% 2.472527%;  /* 25px 45px */
    float: left;

}

ul{
    width: 60.43956%;  /* 1100px */
    margin: 2.372527% auto;  /* 45px */
    float: left;
    border-bottom: #000 solid 1px;
}

li{
    width: 54.945055%;  /* 10px */
    padding: .0549451% 1.373626%; /* 10px 25px */
    margin: 0 .0549451%; /* 10px */
    display: inline;
}

a{
    color: #000;
    text-decoration:none;
    font-weight: bold;
    font-size: 1.5em;
}

li a:hover{
    border-top: rgba(215, 160, 29, 1) solid 2px;
}

section {
    width: 23.351684%;   /* 425px */
    padding: 1.1549451% 1.873626%; /* 10px 25px */
    margin: 8.241758% 0 7.692308% 8.241758%;    /* 150px, 0, 140px, 150px */
    background:rgba(255, 255, 255, 0.80) ;
    color: #000;

}
h2{
    font-weight: bold;
}

footer{
    width: 100%;  /* 10px */
    text-align: center;

}



/*--------------------------- Media Queries --------------------------------*/

@media screen and (min-width: 687px) and (max-width: 1050px){
    
    h1{
        float: none;
    }
    header {
        background: none;
    }

    ul{
        border: none;
        width: 100%;
        background: rgba(255, 255, 255, 0.64);
        padding: 3.5%;
    }

    li {
        float: none;
        padding: 1.5%;
        margin: .1% 0 .1% 5%;
        background: rgba(224, 224, 224, .50);
    }

    li:hover{
    background: rgba(255, 255, 255, .50);
    }

    li a:hover{
        border-top: none;

    }
    section{
        width:67.25%;
    }

}

@media screen and (min-width: 540px) and (max-width: 688px ) {

    h1{
        float: none;
        text-align: center;
    }

    header {
        background: none;
    }

    ul{
        width: 100%;
        background: rgba(224, 224, 224, .50);
        border: none;
    }

    li {
        width: 75%;
        margin: 0 5%;
        text-align: center;
        float: none;
        display: block;
        background: rgba(224, 224, 224, .50);
        border-radius: 100%;
    }

    li:nth-child(odd){
        background: rgba(201, 201, 201, .50);

    }

    li:hover{
        background: rgba(255, 255, 255, .50);
    }

    li a:hover{
        border-top: none;

    }
    section{
        margin-left: 4%;
        padding: 6.3%;
        width:77.25%;
    }
    
}

@media screen and (min-width: 335px) and (max-width: 539px){

    h1{
        float: none;
       text-align: center;
    }

    header {
        background: none;
    }

    ul{
        width: 100%;
        background: rgba(224, 224, 224, .50);
        border: none;
    }

    li {
        width: 50%;
        margin: 0 10%;
        text-align: center;
        float: none;
        display: block;
        background: rgba(224, 224, 224, .50);
        border-radius: .8%;
    }

    li:nth-child(odd){
        background: rgba(201, 201, 201, .50);

    }

    li:hover{
        background: rgba(255, 255, 255, .50);
    }

    li a:hover{
        border-top: none;

    }
    section{
        margin-left: 4%;
        padding: 6.3%;
        width:77.25%;
    }

}